body {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
}

.row {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2em;
}

.signin-title, .signup-title {
    color: #78938A;
    font-size: 5em;
    margin-top: 10vh;
}

.name-input:focus {
    outline: none;
}

.name-input {
    border: none;
    border-bottom: solid #525E75;
    font-size: 1.2em;
    height: 5vh;
    width: 30vw;
}

.label {
    margin: 0;
    text-align: left;
    width: 30vw;
}

.error {
    color: darkred;
    font-size: 0.8em;
}

.success {
    color: darkgreen;
    font-size: 0.8em;
}

.hide {
    display: none;
}