body {
    margin: 0;
    padding: 0;
}

.container {
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
}

/* Titles */
.home-title {
    color: #92ba92;
    font-size: 5em;
    margin: 2em 0 0;
    text-align: center;
    text-shadow: 6px 6px 0px #92ba9233;
}

.home-subtitle {
    color: #525E75;
    font-size: 1em;
    text-align: center;
}

/* Buttons */
.enter-btn-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}    
.createTrip {
    padding: 50px 100px;
    position: relative;
    min-height: 100vh;
    width: 430px;
}
.inputBox {
    margin-top: 10px;
    position: relative;
    max-width: 430px;
}

.inputBox input {
    border: none;
    border-bottom: 2px solid;
    font-size: 16px;
    flex-direction: row;
    margin: 10px 0;
    outline: none;
    padding: 5px 0;
    resize: none;

}
.inputBoxDate input[name="text-input-start-date"],
.inputBoxDate input[name="text-input-end-date"] {
    width: min-content;
    margin: 10px 0;
}

.createTrip label {
    font-size: 16px;
    left: 0;
    margin: 10px 0;
    padding: 5px 0;

}
.inputBox input[value="add"] {
    width: min-content
}

input[type="submit"][name="finish"] {
    width: 100%
}

.btn,
input[type="submit"] {
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: "Montserrat";
    height: 5vh;
    margin: 0.5em 0;
    width: 30vw;
}

/* Footer */
.footer {
    bottom: 0;
    font-family: "Montserrat";
    font-size: 10px;
    text-align: center;
    position: absolute;
    width: 100%;
}


/* For tablets */
@media (min-width: 776px) {
    .home-title {
        font-size: 8em;
        margin: 1em 0 0;
    }

    .home-subtitle {
        font-size: 1.5em;
    }

    .btn {
        width: 20vw;
    }
}


/* For desktop and larger screens */
@media (min-width: 1023px) {
    .home-title {
        font-size: 9em;
        margin: 1em 0 0;
    }

    .btn {
        width: 15vw;
    }
}